@import '_bootstrap-reboot.min.scss';
@import 'blocks/hero';
@import 'blocks/about';
@import 'blocks/consultation';
@import 'blocks/team';
@import 'blocks/feedback';
@import 'blocks/review';
@import 'blocks/nodoubts';
@import 'blocks/footer';



html{
    box-sizing: border-box;
}

.container{
    width: 1110px;
    margin: 0 auto;
}