.review{
   
    padding-top: 160px;
    background-image: url('../../img/review.png');
    background-repeat: no-repeat;
    background-size: 100% 120%;
    
    &__header{
        margin-top: 188px;
        font-weight: normal;
        font-size: 32px;
        line-height: 33px;
        text-align: center;
        color: #393E46;
    }
    .divider{
        margin-top: 6px;
        display: block;
        margin: 0 auto;
        width: 60px;
        height: 4px;
        background: linear-gradient(90deg, #3777FF 0%, #2BBEFE 100%);
    }
    &__card{
        position: relative;
        margin-top: 115px;
        display: block;
        padding-right: 28px;
        width: 350px;
        height: 233px;
        background: #FFFFFF;
        box-shadow: 0px 4px 35px rgba(11, 57, 89, 0.15);
        border-radius: 0px 0px 0px 50px;
        padding-top: 44px;
        padding-left: 29px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #828FA4;
        background-image: url('../../img/Vector.svg');
        background-repeat: no-repeat;
    }
    &__name{
        margin-top: 10px;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        color: #D04083;
    }
    &__photo{
        position: absolute;
        right: 45px;
        top: -35px;
    }
}






.map{
    transform: translateY(800px);
  
    mask-image: url(../../img/mask.png);
    mask-repeat: no-repeat;
    mask-size:100%;
}

